
body {
	background: #4D9DE0;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: #E15554;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
	body {
	background: #3BB273;
	}
}
